body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.logo{
    height: 150px;
    background-color: rgb(52, 166, 227);
    background-image:url(../img/pattern.png);
    background-size: 50%;
    background-repeat: repeat;    
}

#logo-img{
    height: 50px;
    padding-top: 100px;
    padding-bottom: 15px;
    padding-left: 15px;
}

#main-title{
    font-size: 45px;
    margin-bottom: 0px;
    margin-top: 20px;
}

.author{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: larger;    
    color: grey;
}

.author-name{
    color: rgb(46, 193, 181);
}

.date{
    color: grey;
    font-size: smaller;
}

.main-pic{
    margin-top: 20px;
}

.pic-credits{
    font-size: x-small;
}

table {
    border-collapse: collapse; 
    border-spacing: 0;}

.small-col{
    width: 20%;
}

thead{
    text-align: left;
    color: whitesmoke;
    background-color: rgb(52, 166, 227);
}

.dark-row{
    background-color: rgb(142, 214, 243);
}

footer{
    margin-top: 40px;
    color: grey;    
}

.img-advise{
    font-weight: 600;
    font-size: large;
    color: whitesmoke;
    position: relative;
}

.ad-img{
    height: 200px;
    width: 250px;
}


.ad-title{
    position: absolute;
    top: 0px;
    left: 10px;
}